-----------------------------------------------------------------------------
--                                                                          -
--  Copyright 1996, University of Cambridge Computer Laboratory             -
--                                                                          -
--  All Rights Reserved.					            -
--                                                                          -
-----------------------------------------------------------------------------
--
-- INTERFACE:
--
--      SAllocMod
-- 
-- DESCRIPTION:
--
--      A "SAllocMod" is what one uses to create a StretchAllocator.
-- 
-- \chapter{Memory}
-- \section{Virtual Memory}
-- 

SAllocMod : LOCAL INTERFACE =
  NEEDS Frames;
  NEEDS HeapMod;
  NEEDS Mem;
  NEEDS MMU;
  NEEDS StretchAllocatorF;
  NEEDS VP;
BEGIN


    NewF: PROC    [ hmod   : IREF HeapMod,
		    frames : IREF Frames, 
		    mmu    : IREF MMU,
	            vm     : Mem.VMem               ]
          RETURNS [ sa     : IREF StretchAllocatorF ]
          RAISES  Mem.Failure;
    -- Creates the initial "StretchAllocatorF" which allocates the virtual
    -- address regions described by "vm".
    -- Subsidiary storage (for example for closures) is allocated from
    -- a heap which the SAllocMod creates using "hmod", "frames" and "mmu".


    Done : PROC    [ sa : IREF StretchAllocatorF,
                     vp : IREF VP, 
                     pd : ProtectionDomain.ID    ]
	   RETURNS [ ];

    -- The inital "StretchAllocatorF" is created before a number of
    -- things are available; most importantly we do not know the 
    -- VP or pdom of our 'client' (viz. nemesis). 
    -- Hence we call this routine after we have a valid vp to allow
    -- the StretchAllocator to update it's internal information.
END.
