-----------------------------------------------------------------------------
--                                                                          -
--  Copyright 1994, University of Cambridge Computer Laboratory             -
--                                                                          -
--  All Rights Reserved.					            -
--                                                                          -
-----------------------------------------------------------------------------
--
-- INTERFACE:
--
--      IDCBinding
-- 
-- DESCRIPTION:
--
--      Client control interface to an IDC binding
-- 
-- ID : $Id: IDCBinding.if 1.1 Thu, 18 Feb 1999 14:16:19 +0000 dr10009 $
-- 
-- \chapter{Inter-Domain Communication}
-- 

-- Invoking "Bind" on an "IDCOffer" results in (if all goes well) an
-- "IREF" of the required type, plus one of type "IDCBinding".
-- "IDCBinding" interfaces are used for controlling aspects of a
-- binding from the client's point of view; most notably, closing it
-- down. 

IDCBinding : INTERFACE =

BEGIN

  Destroy : PROC [] RETURNS [];  
    -- Remove the binding, destroying both the client invocation
    -- interface and this one.

END.
