-----------------------------------------------------------------------------
--                                                                          -
--  Copyright 1996, University of Cambridge Computer Laboratory             -
--                                                                          -
--  All Rights Reserved.                                                    -
--                                                                          -
-----------------------------------------------------------------------------
--
-- INTERFACE:
--
--	ARPMod
--
-- DESCRIPTION:
--
--	Constructs a live context to do ARP
--
-- \chapter{Networks}
-- \section{Protocols}
--

-- Constructs an active context that performs ARP as per RFC1122
-- (Internet Host Requirements) when names are looked up in it.

ARPMod : LOCAL INTERFACE =
  NEEDS Context;
  NEEDS IO;
  NEEDS Net;
  NEEDS Heap;
BEGIN

  New : PROC    [ rxio        : IREF IO,
                  txio        : IREF IO, 
                  rxheap      : IREF Heap, 
                  txheap      : IREF Heap,
                  myipaddr    : Net.IPHostAddr,
                  myetheraddr : Net.EtherAddr   ]
	RETURNS [ arp         : IREF Context    ];
    -- Create a new ARP context. The given "tx" and "rx" are offers 
    -- for an underlying ethernet device and (once bound) are used to 
    -- transmit and receive ARP packets to and from the network. Buffer
    -- space for the "IO" channels should be allocated from "rxheap" 
    -- and "txheap" respectively. Packets are constructed using the 
    -- information "myipaddr" and "myetheraddr". 
    -- \textbf{Note}: 
    -- \begin{itemize} 
    --	  \item we should really pass in "IOData.Shm" or similar 
    --          to this rather than heaps, and pre-bound "IO"s 
    --          rather than offers. 
    --	  \item "myipaddr" is in host endianness.
    -- \end{itemize} 
    -- 

END.
