-----------------------------------------------------------------------------
--                                                                          -
--  Copyright 1996, University of Cambridge Computer Laboratory             -
--                                                                          -
--  All Rights Reserved.					            -
--                                                                          -
-----------------------------------------------------------------------------
--
-- INTERFACE:
--
--      Ether.if
-- 
-- DESCRIPTION:
--
--      Encapsulates packets within Ethernet frames, adding headers
-- 
-- ID : $Id: Ether.if 1.1 Thu, 18 Feb 1999 14:19:49 +0000 dr10009 $
-- 
-- \chapter{Networks}
-- \section{Protocols}
--

-- The "Ether" interface encapsulates packets within Ethernet frames
-- on transmit, and checks the Ethernet headers on receive.

Ether: LOCAL INTERFACE =
EXTENDS Protocol;
NEEDS Net;
BEGIN
	-- All the usual "Protocol.if" methods, and in addition:

	SetDest: PROC [ destHW: Net.EtherAddr ] RETURNS [];
	   -- Set the Ethernet address to send packets to.
END.
