-----------------------------------------------------------------------------
--                                                                          -
--  Copyright 1996, University of Cambridge Computer Laboratory             -
--                                                                          -
--  All Rights Reserved.					            -
--                                                                          -
-----------------------------------------------------------------------------
--
-- INTERFACE:
--
--      ICMP.if
-- 
-- DESCRIPTION:
--
--      Replies and sends ICMP messages on a single interface
-- 
-- ID : $Id: ICMP.if 1.1 Thu, 18 Feb 1999 14:19:49 +0000 dr10009 $
-- 
-- \chapter{Networks}
-- \section{Protocols}
--

-- This is an interface internal to the Connection Manager, used by it
-- to send ICMP messages.

ICMP : LOCAL INTERFACE =
NEEDS Net;
BEGIN
	-- Sendable messages: (replies are not listed here)
	Msg: TYPE = {	DestinationUnreachable,
			SourceQuench,
			Redirect,
			EchoRequest,
			TimeExceeded,
			ParameterProblem,
			TimestampRequest,
			AddressMaskRequest };

	-- No routeing is performed on "dest".
	Send: PROC [ type: Msg;
		     code: OCTET;  -- additional info
		     dest: Net.IPHostAddr ]
		RETURNS [];

	-- Free this ICMP handler and all resources it uses
	Dispose: PROC [] RETURNS [];
END.
