-----------------------------------------------------------------------------
--                                                                         --
-- Copyright 1997, University of Glassgow, Department of Computing Science --
--                                                                         --
-- All Rights Reserved.                                                    --
--                                                                         --
-----------------------------------------------------------------------------
--
-- INTERFACE:
--
--     Resolver.if
--
--
-- DESCRIPTION:
--
--     Resolves hostnames and HQDNs into IP addresses
--
-- ID: $Id: Resolver.if 1.2 Thu, 29 Apr 1999 09:59:50 +0100 dr10009 $
--
-- \chapter{networks}
--

-- The Resolver interface defines a procedure to convert a hostname or
-- Fully Qualified Domain Name (FQDN) into the sequence of IP
-- addresses that were returned from the name server that was defined
-- when the resolver module was created.

Resolver : LOCAL INTERFACE =
NEEDS Net;
BEGIN

    -- "Resolve" takes "name", the FQDN to be resolved, and returns a
    -- sequence of answers supplied by the nameserver in the "addrs"
    -- result. The "found" result indicates whether the host was found.

    Resolve : PROC [ IN name : STRING ] 
              RETURNS [ found : BOOLEAN, addrs : Net.IPHostAddrSeqP];
                
END.
