-----------------------------------------------------------------------------
--                                                                          -
--  Copyright 1994, University of Cambridge Computer Laboratory             -
--                                                                          -
--  All Rights Reserved.					            -
--                                                                          -
-----------------------------------------------------------------------------
--
-- INTERFACE:
--
--      Gatekeeper
-- 
-- DESCRIPTION:
--
--      Manages virtual memory owned by a domain for communication.
-- 
-- ID : $Id: Gatekeeper.if 1.1 Thu, 18 Feb 1999 14:16:19 +0000 dr10009 $
-- 
-- \chapter{Memory}
-- \section{Shared Memory Buffers}
-- 
-- 

-- The "Gatekeeper" of a domain keeps track of the "Stretch"es it owns
-- for the purposes of Interdomain communication of some sort.
-- Its methods provide a convenient way for a domain to get hold of a
-- heap or stretch which can be used for either standard IDC or for a 
-- higher layer shared memory protocol (e.g. IO channels). 

Gatekeeper : LOCAL INTERFACE =
  NEEDS Heap;
  NEEDS Stretch;
  NEEDS ProtectionDomain;
BEGIN

  Failure : EXCEPTION [];

  -- The "GetHeap" method returns a heap of size "size" (or if "size"
  -- is zero, then of `sufficient' size) for IDC communication with 
  -- the specified protection domain. 

  GetHeap : PROC    [   pdid : ProtectionDomain.ID, 
	 	        size : Stretch.Size,  
		      access : Stretch.Rights, 
		       cache : BOOLEAN                ]
      	    RETURNS [   heap : IREF Heap              ]
      	    RAISES Failure;
     -- Return a heap which is mapped either "R","W" or "RW" into the
     -- protection domain identified by "pdid". If "cache" is True, a 
     -- heap which was previously created may be returned again;
     -- otherwise a new heap will be created for the purpose of this call. 



  -- The "GetStretch" method returns a stretch of the specified size (or
  -- of the default size if size is zero) which is available with the
  -- given access rights "rights" to the specified protection domain.
  -- The "awidth" gives the required alignment of the base of the
  -- stretch, while "pwidth" gives its contiguity constraints. 

  GetStretch : PROC  [    pdid : ProtectionDomain.ID,
	 	          size : Stretch.Size,  
		        access : Stretch.Rights, 
		        awidth : CARDINAL, 
		        pwidth : CARDINAL               ]
      	     RETURNS [ stretch : IREF Stretch           ]
      	     RAISES Failure;

END.
