-----------------------------------------------------------------------------
-- (C) 1998                                                                --
-- Rolf Neugebauer                                                         --
-- Department of Computing Science - University of Glasgow                 --
-----------------------------------------------------------------------------
--
--        File: LoginPrompt.if
--      Author: Rolf Neugebauer
--     Changes: 
--
--        Date: 1998
--
-- Environment: 
-- Description: 
--
-----------------------------------------------------------------------------
-- $Id: LoginPrompt.if 1.1 Thu, 18 Feb 1999 14:16:19 +0000 dr10009 $
-----------------------------------------------------------------------------
--
-- \chapter{Security}
--

LoginPrompt : LOCAL INTERFACE =
  NEEDS Rd;
  NEEDS Wr;
BEGIN

  -- This will prompt the user to enter username and Password
  -- using the raw reader and writer passed as arguments.
  Prompt : PROC [ raw_in  : IREF Rd,
                  raw_out : IREF Wr]
        RETURNS [ ok: BOOLEAN ];

END.