-----------------------------------------------------------------------------
--                                                                          -
--  Copyright 1995, University of Cambridge Computer Laboratory             -
--                                                                          -
--  All Rights Reserved.                                                    -
--                                                                          -
-----------------------------------------------------------------------------
--
-- INTERFACE:
--
--      IOEntryMod
-- 
-- DESCRIPTION:
--
--      Fabricates Entries.
-- 
-- ID : $Id: IOEntryMod.if 1.1 Thu, 18 Feb 1999 14:16:19 +0000 dr10009 $
-- 
-- \chapter{Inter-Domain Communication}
-- 

-- "IOEntryMod" is an interface used to create "IOEntry"s.

IOEntryMod : LOCAL INTERFACE =
  NEEDS ActivationF;
  NEEDS VP;
  NEEDS IOEntry;
  NEEDS Heap;
BEGIN

  -- "New" creates a new entry.  

  New : PROC    [ actf   : IREF ActivationF,
                  vp     : IREF VP,
                  nch    : CARDINAL         ]
        RETURNS [ e      : IREF IOEntry     ]
        RAISES Heap.NoMemory;
    -- Create a new "IOEntry" capable of handling "nch" bindings. 

END.
