-----------------------------------------------------------------------------
--                                                                          -
--  Copyright 1996, University of Cambridge Computer Laboratory             -
--                                                                          -
--  All Rights Reserved.					            -
--                                                                          -
-----------------------------------------------------------------------------
--
-- INTERFACE:
--
--      Serial line control interface
-- 
-- DESCRIPTION:
--
--      Allows serial port parameters to be changed
-- 
-- ID : $Id: Serial.if 1.1 Thu, 18 Feb 1999 14:16:19 +0000 dr10009 $
-- 
-- \chapter{Devices}
--

-- Input and output through serial ports is accomplished using the "Rd" and
-- "Wr" interfaces. The "Serial" interface exists to provide out of
-- band control over the serial ports; setting protocol, data rate
-- and flow control states.

Serial : LOCAL INTERFACE =
BEGIN

Parity : TYPE = { None, Even, Odd, Mark, Space };

ControlLine : TYPE = { RTS, CTS, DTR, DSR, DCD, RI };

ControlLines : TYPE = SET OF ControlLine;

BadSpeed : EXCEPTION [];

BadProtocol : EXCEPTION [];

SetSpeed : PROC [ speed : CARDINAL ]
	RETURNS [] RAISES BadSpeed;

   -- Sets the data rate of the serial port to the specified value. If
   -- the value is impossible, raises the "BadSpeed" exception. The speed
   -- change takes place immediately; it is not queued up with data.

SetProtocol : PROC [ databits : CARDINAL, parity : Parity,
			stopbits : CARDINAL ] RETURNS []
	RAISES BadProtocol;

   -- Sets the protocol of the serial port. If the protocol is unsupported
   -- the "BadProtocol" exception is raised. The protocol change takes place
   -- immediately.

SetControlLines : PROC [ cl : ControlLines ] RETURNS [];

   -- Sets the flow control and modem control output lines to the
   -- specified value.

GetControlLines : PROC [] RETURNS [ cl : ControlLines ];

   -- Returns the state of the flow control input lines.

SendBreak : PROC [] RETURNS [];

   -- Sets the Transmit line of the serial port to Space for 50ms. If
   -- data is being transmitted when this call is made, it may be corrupted.

END.
