-----------------------------------------------------------------------------
--                                                                          -
--  Copyright 1995, University of Cambridge Computer Laboratory             -
--                                                                          -
--  All Rights Reserved.                                                    -
--                                                                          -
-----------------------------------------------------------------------------
--
-- INTERFACE:
--
--      Beep
-- 
-- DESCRIPTION:
--
--      Generate tones through an internal speaker
-- 
-- ID : $Id: Beep.if 1.1 Thu, 18 Feb 1999 14:16:19 +0000 dr10009 $
-- 
-- \chapter{Devices}
--

-- "Beep" is a simple interface to an internal speaker.

Beep : INTERFACE =

BEGIN
  
  On : PROC [ freq : CARDINAL ] RETURNS [];
    -- Turn the speaker on at the specified frequency.

  Off : PROC [] RETURNS [];
    -- Turn the speaker off.

END.
