-----------------------------------------------------------------------------
--                                                                          -
--  Copyright 1995, University of Cambridge Computer Laboratory             -
--                                                                          -
--  All Rights Reserved.					           																-
--                                                                          -
-----------------------------------------------------------------------------
--
-- INTERFACE:
--
--      Tasks.if
--
-- DESCRIPTION:
--
--      ANSAware/RT-style tasks.
-- 
-- ID : $Id: Tasks.if 1.1 Thu, 18 Feb 1999 14:16:19 +0000 dr10009 $
-- 
-- \chapter{Inter-Domain Communication}
-- \section{Tasks and Entrys}

-- The "Tasks" interface extends the standard Nemesis "Threads"
-- interface to include support for \emph{entries}. For more
-- information on the ANSAware/RT Computation and Engineering models,
-- see \cite{apm:rtengineering,apm:rtoverview}. 

Tasks : LOCAL INTERFACE = 
  EXTENDS ThreadF;
--  NEEDS   EntryNotify;
BEGIN

   -- Erm, at present does nothing at all.

END.
